MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=aistudyhub
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password
SECRET_KEY=supersecretkeyforflasksessions
